* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  color: black;
  display: inline;
}

p {
  color: black;
  font-size: 20px;
}
img {
  float: left;
  margin-right: 5px;
}

main {
  background-color: turquoise;
}
h1 {
  color: tomato;
  font-size: 33px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("IMG_8955.jpg");
  background-size: cover;
  width: 400px;
  height: 100vh;
  background-color: yellow;
}

#contact table {
  background-color: white;
  color: #333;
  border: 5px solid green;
  border-collapse: collapse;
}
thead {
  background-color: rgb(22, 8, 8);
  color: white;
}
/*
this command and everything in green is marked in comment and wont appear in website
td{border: 2px solid magenta;
}
tr{
    border-bottom: 5px dotted red;
}
td {
    border-right: 5px dotted blue;
}
*/
#boxes {
  background-color: green;
  background-image: url("IMG_8955.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-attachment: fixed;
  background-size: cover;
}
/*
the above lines could be written as follows in one line to get the same result
#boxes{
    background:url("IMG_8955.jpg") no-repeat center center/cover;

    the line centre centre referes when the page is minimized or maximised the image grows or reduces from centre to center. If the image is of a person its good to keep top centre so that the person remians in the frame. 
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  background-color: beige;
  height: 200px;
  width: 200px;
  margin: 5px;
  display: inline-block;
  background-position: center center;
  background-attachment: fixed;
}
.box1 {
  background-color: brown;
  border: 5px dotted yellow;
}
.box2 {
  background-color: green;
  border: 10px double red;
}
.box3 {
  background-color: Magenta;
  border: 13px solid cyan;
}

.box4 {
  background-color: greenyellow;
  border: 10px dotted gold;
  border-radius: 50%;
}
