* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto" sans-serif;
	background-color: yellow;
}
h1 {
	color: white;
	font: 20px;
	padding: 10px;
	margin: 10px;
}
body header p {
	color: white;
	background: green;
}
header {
	background-color: turquoise;
	position: fixed;
	height: 70px;
	width: 100%;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}
/* if header is defined with only background-color, height and position is defined as fixed, the main part of the bosy will automatically move up and start from 0, hence margin-top should be defined in main (same margin as that of header) */
main {
	margin-top: 70px;
	position: relative;
	background-color: yellowgreen;
}
li {
	display: inline-block;
	padding: 1rem;
}
a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

a:link {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem;
}
/* check the styling for a */
a:visited {
	color: orange;
	text-decoration: none;
	text-transform: uppercase;
}
main .container {
	top: 40px;
	padding: 20px;
	max-width: 700px;
	height: 300px;
	position: relative;
	background-color: black;
	margin: 0 auto;
	z-index: 1;
}

.container p {
	position: relative;
	left: 60px;
	color: white;
	padding: 1rem;
	line-height: 1.8;
	background-color: rgb(231, 89, 231);
}
section {
	height: 100vh;
	position: relative;
	background: url("IMG_8955.jpg") no-repeat fixed center center/cover;
}
/** if you are using after or before it always have to have content in it */
section::after {
	position: absolute;
	content: "there always have to be content when using::after or before these are pseudo elements. the contents can be left empty as well with. THE top is 0 when it has to start right from the main  if the top is not assigned it will assume the default position below the container Also note width and height is 100% but the top and left is aasigned 20px hence it extends outside"
		" ";
	height: 100%;
	width: 100%;
	background: rgba(35, 85, 202, 0.5);
	top: 0px;
	left: 0px;
}
/* correction to section::after made to make it look nice either change the height and width or make top and left 0. */

.textbox p {
	padding: 1rem;
	color: white;
	background-color: grey;
	margin: 1rem;
}
/*
main p:first-child {
	color: black;
	background-color: cyan;
}

p:last-child {
	color: green;
	background-color: magenta;
} */

/* this will select the 3rd or nth paragraph and change the styling of it */
/* p:nth-child(3) {
	color: yellow;
	background-color: indigo;
} */

/* every 2nd paragraph is selected starting from 3rd paragraph 2n+3 and styled accordingly */
/* p:nth-child(2n + 3) {
	color: maroon;
	background-color: khaki;
} */

main .textbox {
	position: relative;
}

.textbox p:nth-child(2) {
	background-color: violet;
	position: relative;
	top: 10px;
	left: 30px;
}

.textbox p:nth-child(4) {
	position: sticky;
	top: 200px;
	background-color: indigo;
}
.textbox p:nth-child(6) {
	position: sticky;
	top: 200px;
	background-color: red;
}

i {
	color: red;
}
footer {
	background-color: black;
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100%;
}
footer p {
	color: white;
	background-color: indianred;
	position: relative;
	padding: 10px;
	height: 60%;
	width: 90%;
	margin: 20px auto;
}
