* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: none;
	font-family: "PT sans", sans-serif;
}

h1,
h2 {
	margin-bottom: 30px;
}
.container {
	max-width: 1200px;
	background-color: rgba(300, 300, 300, 0.8);
	padding: 50px;
	border-radius: 8px;
	margin: 0 auto;
	min-height: 80%;
}

.logo {
	background: url("https://source.unsplash.com/weekly?water");

	height: 60px;
	width: 60px;
	float: left;
}

}

header {
	background-color: black;
	text-align: right;
	padding: 20px;
}

ul {
	list-style-type: none;
	padding: 20px;
}
li {
	display: inline-block;
}

li a {
	text-decoration: none;
	color: white;
	padding: 20px;
}
a:hover {
	background-color: orange;
}

main #hero-banner {
	background: url("https://source.unsplash.com/weekly?water") no-repeat fixed
		center center/cover;
	height: 85vh;
	padding: 50px;
}
#hero-banner h1 {
	color: white;
	text-align: center;
	font-size: 70px;
	font-family: "Ubuntu Mono", monospace;
	margin: 100px;
}
h1 span {
	color: orange;
}

/*.parallax {
	background-image: url("/Margit/4-task/IMG_8955.jpg");
	height: 100%;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
*/
#Past,
#Future {
	background-color: antiquewhite;
	padding: 50px;
	width: 100%;
}

main #Past img,
main #Future img {
	width: 300px;
	float: left;
	border-radius: 5px;
	margin-right: 50px;
	height: 150px;
}

p {
	line-height: 2;
}

#Future {
	background: url("https://source.unsplash.com/random") no-repeat fixed center
		center/cover;
	clear: both;
}

#Present img {
	float: left;
	width: 30%;
	margin-right: 50px;
	height: 300px;
}
.content {
	padding: 50px;
}

footer {
	background-color: black;
	text-align: center;
	color: white;
	padding: 20px;
}
footer p {
	margin-top: 20px;
	padding: 10px;
	font-size: 12px;
}
footer .container {
	background-color: black;
}

form {
	margin: 0 auto;
	width: 60%;
	text-align: left;
}
.formgroup {
	margin: 32px 0;
}
label {
	width: 200px;
	display: inline-block;
	text-align: left;
}
input,
textarea {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	width: 50%;
	border-radius: 5px;
	border: none;
}
textarea {
	min-height: 100px;
}
button {
	background-color: white;
	color: black;
	border-radius: 5px;
	border: none;
	padding: 20px 20px;
	font-size: inherit;
	margin-left: 200px;
}
