* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: none;
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2 {
  margin-bottom: 30px;
}
.container {
  max-width: 1200px;
  background-color: rgba(300, 300, 300, 0.8)
  padding: 100px;
  border-radius: 8px;
  margin: 0 auto;
}


}
}.logo {
  background-image: url(https://previews.123rf.com/images/tondone/tondone1606/tondone160600103/64398410-abstract-vector-logo-design-template-creative-yellow-red-wavy-concept-icon.jpg);
  height: 100px;
  width: 100px;
}
main {
    background-color: none;
    height: 1000px;
    width: 1000px;
}

  .hero-image {
    background-image: "/Margit/4-task/IMG_8955.jpg";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    width: 400px;
  }
  .hero-text {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .parallax {
    background-image: url("/Margit/4-task/IMG_8955.jpg");
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  #Past {
    background-image: none;
    background-color: antiquewhite;
  }
  img {
    height: 150px;
    width: 150px;
    float: left;
  }
  #Present {
    background-image: url(/Margit/4-task/IMG_8955.jpg);
    background-color: aqua;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

img {
  height: 200px;
  width: 200px;
  float: right;
}

#Future {
    
}