* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
:root {
  --background-color: #333333;
  --dark-color: #000000;
  --bright-color: #ffffff;
  --link-color: blue;
}
body {
  background: var(--background-color);
  font-family: "PT Sans", sans-serif;
} /* meaninig, if PT sans is not found use sans-serif to load */

.container {
  max-width: 1200px;
  padding: 3rem;
  min-height: 30vh;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: coral;
  /* logo a and nav a has same setting,
 so removed from there and put it here as global */
}
p {
  margin-bottom: 0.8rem;
  line-height: 2;
  /* no units required for line-height
as its linked with the text */
}
h2,
h3 {
  margin-bottom: 1.5rem;
}
input,
textarea,
button {
  font-family: "PT Sans", sans-serif;
}
/*------Header area starts from here-------*/
header {
  background-color: var(--background-color);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
}
header #logo a {
  color: coral;
  font-size: 2rem;
}
/*--------Main navigation content starts here------ */
header .icon {
  display: none;
}

header nav ul {
  list-style-type: none;
  margin-right: 2rem;
  position: relative;
  /* it is important to specify the path,
	 sometimes nav ul could be in footer too */
}
header nav ul li {
  display: inline-block;
  /* you can use flex here too,
		but its simpler to use inline block */
}
header nav ul li a {
  display: block;
  /* you can use in line block too but since there aren't
	much stuff in here block can be used BUT if you're using
	 icons you can use inline block else they will mess up*/
  color: white;
  padding: 1rem;
  transition: all 0.5s;
  border-bottom: 3px solid transparent;
}
header nav ul li a:hover,
header nav ul li ul li a:hover {
  background-color: coral;
  border-bottom: 3px solid white;
  /* if you are using border-bottom: 2px dotted coral;
   you have to assign the same but transparent instead
   of color in na ul li a  so that it wont jump  */
}
/* ---Dropdown styling section starts----*/

header nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: var(--background-color);
  top: 50px;
  width: 30%;
  overflow: hidden;
  transition: all 0.3s;
}
header nav ul li ul li {
  display: block;
}
header nav ul li ul li a {
  padding: 1rem;
}
header nav ul li:hover ul,
header nav ul li:focus-within > ul {
  visibility: visible;
  opacity: 1;
}
/* dropdown styling section ends */

/*----------- Main section starts here --------*/
main {
  position: relative;
  top: 5rem;
}

/* Hero banner section starts from here */
main #hero-banner {
  /* if you have more contents in hero
	banner more text, it is good to use container instead. */
  background: url("https://source.unsplash.com/1600x900/?time") no-repeat fixed
    center center/cover;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* since there is only one element we make flex in here */
}
main #hero-banner h1 {
  color: white;
  font-size: 5rem;
  font-family: "Ubuntu Mono";
}
main #hero-banner h1 span {
  color: coral;
}
main #hero-banner::before {
  position: absolute;
  content: "";
  height: inherit;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
/*-------Work section starts from here------*/
main #work {
  background-color: #f4f4ff;
}
main #work .work_boxes {
  display: flex;
  justify-content: space-between;
}
main #work .box {
  background-color: white;
  height: 30%;
  width: 30%;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 5px #333;
  /* box shadows needs to have at least 4 values */
}
main #work .box img {
  width: 100%;
  margin-bottom: 1rem;
}
main #work .box a:hover {
  text-decoration: underline;
  color: var(--link-color);
  /* if you want to make the box clickable,
	then you need to wrap the box around a */
}
/* -------Experience section starts from here -----*/
main #experience {
  display: flex;
  background-color: white;
}
main #experience img {
  width: 50%;
  object-fit: cover;
  /* object-fit prevents the image from squeezing  since it is an object we have to use object fit or object position*/
  object-position: center;
}
main #experience .content {
  padding: 2rem;
}

/*---------Skills section satrts from here---------- */

main #skills {
  background: url("https://source.unsplash.com/1600x900/?future") no-repeat
    fixed center center/cover;
  padding: 3rem;
}
main #skills .container {
  background-color: rgba(255, 255, 255, 0.9);
}
#skills .container .skillbox {
  display: flex;
  justify-content: space-between;
}
#skills .container .skillbox .expertbox {
  background-color: grey;
  width: 23%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 0 5px #333333;
}
#skills .expertbox p {
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills .expertbox progress {
  border-radius: 2px;
  height: 1rem;
  margin: 0 auto;
  box-shadow: 1px 1px 1px rgba(22, 21, 21, 0.2);
}

progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: black;
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(255, 0, 0, 0.8);
}
#skills .container .skillbox .expertbox a {
  display: flex;
}
#skills .container .skillbox .expertbox i {
  margin: 0 auto;
  padding: 1rem;
  color: #333333;
  text-shadow: 1px 1px 2px rgb(58, 55, 51);
}
#skills .container .skillbox .expertbox:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.3);
}
#skills .container .skillbox .expertbox:last-child {
  background-color: rgba(0, 0, 0, 0.2);
}
#skills .container .skillbox .expertbox:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.4);
}

/*Footer section starts here */

footer {
  color: white;
  background-color: #333333;
  text-align: center;
  padding: 1.5rem;
  position: relative;
  top: 5rem;
}
footer h4 {
  font-size: 0.8rem;
  margin-top: 3rem;
}
/* form section starts here */
footer form {
  width: 100%;
  margin: 0 auto;
}
footer form .form-group {
  margin: 2rem 0;
}
footer form .form-group label {
  display: inline-block;
  width: 200px;
  text-align: left;
}
footer form .form-group textarea {
  min-height: 100px;
}
form .form-group input,
form .form-group textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  width: 30%;
  font-size: 1rem;
}
footer form button {
  background-color: coral;
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: inherit;
  margin-left: -50px;
}
footer form button:hover {
  cursor: pointer;
  background-color: blue;
  transition: all 0.4s;
}

/**** SCROLL TOP *******/
#scrolltop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: rgba(110, 105, 105, 0.7);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrolltop i {
  color: coral;
  font-size: 25px;
}

/* responsive design . We are at desktop first and we wanrt to go to mobile.
so desktop >>Tablet>> and Mobile designed in thisorder. Element path has to be
written exactly how it was written before. The best practice copy and paste*/

@media (max-width: 899px) {
  #hero-banner h1 {
    margin-left: 6rem;
  }
  main #experience {
    display: block;
  }
  main #experience img {
    width: 100%;
  }
  #skills .container .skillbox .expertbox i {
    width: 100%;
    font-size: 3em;
  }
  #skills .container .skillbox .expertbox progress {
    width: 100%;
  }
  footer form {
    width: 80%;
    text-align: left;
  }
  footer form .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  form .form-group input,
  form .form-group textarea {
    width: 100%;
  }

  footer form button {
    width: 100%;
    margin: 0;
  }
  #scrolltop {
    right: 1rem;
  }
}

@media (max-width: 576px) {
  header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  header .icon {
    display: block;
    color: white;
  }
  header nav ul {
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: var(--background-color);
    width: 100%;
    padding-left: 1rem;
  }

  header nav ul.mobilemenu {
    display: block;
  }

  header nav ul li {
    display: block;
  }
  header nav ul li a {
    display: block;
    padding: 0.7rem;
  }
  header nav ul li a:hover {
    background-color: coral;
  }
  /* header nav ul li ul {
    display: none;
  } */
  /* header nav ul li ul.mobilemenu {
    display: block;
  }*/
  header nav ul li ul {
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    top: 0;
    padding-left: 2rem;
    width: 100%;
  }

  main #hero-banner h1 {
    font-size: 3rem;
    margin: 1rem;
  }
  main #work .work_boxes {
    flex-direction: column;
  }
  main #work .box {
    width: 100%;
    margin: 1rem 0;
  }
  main #skills img {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  main #work,
  main #skills {
    padding: 0;
  }

  .container,
  main #experience .content {
    padding: 1rem;
  }
  #skills .container .skillbox {
    flex-direction: column;
  }
  #skills .container .skillbox .expertbox {
    width: 100%;
    margin: 1rem 0;
  }
  #skills .container .skillbox .expertbox i {
    width: 100%;
    font-size: 3em;
    padding: 0.5rem;
    display: inline-flex;

    justify-content: space-evenly;
  }
  #skills .expertbox progress {
    height: 0.6rem;
  }

  #footer {
    padding-bottom: 0.5rem;
  }
  footer form .form-group {
    margin: 1rem 0;
  }
  footer form .form-group label {
    margin-bottom: 0.1rem;
  }
  #footer p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  #scrolltop {
    right: 0.5rem;
    height: 30px;
    width: 30px;
  }
}
