:root {
  --background-color: cornsilk;
  --font: "Quicksand", sans-serif;
  --light-color: greenyellow;
  --dark-color: turquoise;
}
body {
  background-color: var(--dark-color);
  font-family: var(--font);
}

.card,
.card1,
.circle {
  height: 200px;
  width: 150px;
  background: var(--light-color);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px var(--light-color);
  background: var(--background-color);
  transition: all 2s 0;
}

.card {
  transform: rotate(125deg); /* rotate by +- degree along x axis */
  transform: skewY(25deg); /*increases the Y by +- 25 deg  on Y axis */
  transform: skewX(
    25deg
  ); /*increases the Y by +- 25 deg  on X axis (0nly one skey either X or Y can be used at a time */

  transform: scale(2, 5); /* changes the scale in (x y) order */

  transform: translateY(
    100px
  ); /* Moves the Y axis with height(number) instead of angle */
  transform: translateX(-100px);
  transform: translate(100px, 100px);
  transform: translate3d(100px, 100px, 100px);

  perspective: 200px;
  transform: perspective(-200px) rotateY(45deg); /* rotates y with 45 deg and changes the perspective by 200 i.e brings the front part by 200px making it seem to appear closer the smaller the px value the clsoer they seems to appear: also the rotate degree if + brings the front end if - brings the rear end: rotate Y means it is rotating about the Y axis. 
   */
}

.card1 {
  transform: perspective(200px) rotateY(45deg);
}
.circle:hover {
  transform: rotateX(
    -45deg
  ); /* This will only work if used with perspective because the rotation about x axis is not visible in 2d they only appear bugger and smaller.  */
}
