* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #236747;
}

a {
  color: coral;
  text-decoration: none;
}

input,
textarea,
button {
  font-family: "Raleway", sans-serif;
}

.container {
  background: white;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.mm234 {
  margin-bottom: 20px;
}
/* mm234 is a new class made and is used to every where, where margin-bottom: 20 is required  */
/******MAIN AREA****/

main .container .form-group label {
  display: block;
  font-size: 10px;
  text-align: left;
  margin-bottom: 5px;
}

main .container .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  font-size: 13px;
}

main .container form button {
  width: 80%;
  background-color: coral;
  color: white;
  border: none;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

main .container form button:hover {
  background-color: chocolate;
}

main .container .bottom-text {
  font-size: 12px;
}

main .container .bottom-text a:hover {
  text-decoration: underline;
  color: chocolate;
}
/*********FOOTER**********/
footer {
  text-align: center;
  color: white;
  margin: -30px 0 50px 0;
}
