*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    background-color:#333;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    height:100%
}
h1{
    padding:20px 0px;
}
    
body header ul {
   
    background-color: royalblue;
    Margin: 0px;
    Padding:20px;
    list-style: none;
  
    
}

li{
    display: inline-block;
    text-align: left;

}
body header ul li a {  
    color: white;
    Padding:10px;
    font-size: 15px;
    text-decoration: none;
   
}

li a:hover{
    background-color: tomato;
}

main img {
    float: left;
    margin-right:20px;
}