* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #333;
    font-family: "Noto Sans TC", sans-serif;
    color: white;
    height: 100%;
  }
  h1 {
    padding: 20px 0;
  }
  img {
    float: left;
    margin-right: 40px;
  }
  /* Header area */
  
  header {
    background-color: rgb(15, 11, 11);
    padding: 20px;
  }
  
  header ul li a {
    color: white;
    text-decoration: none;
    background-color: rgb(17, 26, 2);
    padding: 10px;
  }
  
  header ul li a:hover {
    background-color: rgb(43, 67, 5);
  }
  
  header ul {
    list-style: none;
  }
  
  header ul li {
    display: inline-block;
  }
  
  /* Main area */
  
  main {
    padding: 40px;
  }
  
  /* Contact page */
  
  table {
    background-color: white;
    color: #333;
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: rgb(22, 8, 8);
    color: white;
  }
  
  tr {
    border-bottom: 1px solid grey;
    padding: 10px;
  }
  
  td {
    padding: 20px;
    width: 25%;
  }
  
  /* Boxes page */
  
  #boxes {
    background: #333 url("https://source.unsplash.com/1200x900/?sky") no-repeat
      center center/cover;
  }
  
  .box {
    background-color: beige;
    height: 200px;
    width: 200px;
    margin: 50px;
    display: inline-block;
  }
  .box1 {
    background-color: brown;
    border: 10px dotted yellow;
  }
  
  .box2 {
    background-color: greenyellow;
    border: 5px dashed blueviolet;
  }
  
  .box3 {
    background-color: pink;
    border: 5px double white;
  }
  
  .box4 {
    background-color: yellow;
    border: 50px solid black;
  }
  .box5 {
    background-color: yellow;
    border: 5px solid black;
    border-radius: 50%;
  }
  © 2020 GitHub, Inc.