* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Lato", sans-serif;
	background-color: #f4f4f4;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px;
}

p {
	line-height: 1.5;
	margin: 12px 0;
}
input,
textarea {
	padding: 8px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid black;
}

header {
	text-align: center;
}
ul {
	list-style-type: none;
}

li {
	display: inline-block;
	padding: 10px;
}

header a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	text-transform: uppercase;
	display: block;
	border-bottom: 4px solid transparent;
}
#logo img {
	width: 200px;
}
header a:hover {
	color: #fe6000;
	font-weight: bold;
	border-bottom: 4px solid #fe6000;
}

#hero-banner {
	background: url("/Fullstackcourse/Margit/8-task/adg.png") no-repeat center
		center/cover;
	height: 75vh;
}
#hero-banner .container {
	padding-top: 100px;
}
#hero-banner .textbox {
	background-color: rgba(230, 111, 0, 0.781);
	color: white;
	padding: 20px;
	border-radius: 5px;
	width: 500px;
}

.textbox {
	font-family: inherit;
	display: block;
	background-color: lightcoral;
	width: 500px;
	height: 250px;
}

h2 {
	font-size: 32px;
}
.textbox a {
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: black;
	padding: 15px 15px;
	margin-top: 15px;
	border-radius: 2px;
	text-transform: uppercase;
}
#aboutus {
	background-color: white;
	height: 55vh;
}
.tofloat {
	float: left;
	width: 40%;
	margin-top: 50px;
}

.container img {
	float: right;
	width: 40%;
	border-radius: 5px;
	margin-top: 20px;
}
.clearfix {
	clear: both;
}
footer {
	background-color: black;
	color: white;
	height: 90vh;
}

form {
	float: left;
	width: 40%;
}
.boxes {
	float: right;
	width: 40%;
}

.formgroup {
	margin: 16px 0;
}

label {
	display: inline-block;
	width: 150px;
}
form h3 {
	border-top: 1px dotted white;
	padding-top: 10px;
	margin-top: 20px;
}
input {
	width: 56%;
}

form input[type="radio"],
form input[type="checkbox"] {
	margin: 0 20px;
	width: auto;
}

textarea {
	margin-left: 20px;
	display: block;
	border-radius: 5px;
	width: 70%;
}

button {
	background-color: coral;
	color: white;
	padding: 10px 20px;
	border: none;
	margin: 20px;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
}
