body {
    background-color:turquoise;   
padding: 50px;
line-height: 1.8rem;
}

header { background-color: lawngreen;}
#Headingbox {color: red;}
#importantstuff {color: white;}
 
main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
}
hr {border: 2 solid red;
color: red;}

.superclass{color: whitesmoke}

h1,h2,h3,h4,h5,h6 {
color: tomato;
}
abbr{color:magenta}
address{text-align: center;
    color:magenta;}
    .changeparagraph{background-color:mediumaquamarine;}
  
    strong {color:mediumaquamarine}
header p {color: yellowgreen;}